@import url('https://fonts.cdnfonts.com/css/din-2');
@import url('https://fonts.cdnfonts.com/css/century-schoolbook');
@font-face {
  font-family: 'DIN';
  font-style: normal;
  font-weight: 700;
  src: local('DIN'), url('https://fonts.cdnfonts.com/s/13496/DIN-Bold.woff') format('woff');
}

.container2 {

  margin: auto;
  display: inline;
  width: 80%;
}
.content{
  margin: auto;
}

canvas {
  margin-left: 5%;
  width: 650px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin:auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

button[type=button] {
  margin: auto;
  display: block;
  background-color: #005596;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 }

button[type=button]:hover {
  background-color: #023b67;
}
label[for="font-select"] {
  font-size: 18px;
  color: black;
  margin: auto;
}
label[for="size-select"] {
  font-size: 18px;
}
label[for="text"] , label[for="text2"]{
  font-size: 18px;
  color: black;
}
#font-select {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  margin:auto;
}
#feedback, #feedback2 {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 18px;
  color: black;
}



